*{
  padding: 0;
  box-sizing: border-box;
}

*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  font-family: 'Arial', sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  text-align: center;
}

button {
  cursor: pointer;
  font-weight: bold;
  font-family: 'Oleo Script', sans-serif;
}